@font-face {
  font-family: 'Awesome';
  src: url('/src/fonts/Awesome\ Serif\ Italic\ VAR-VF.ttf');
  font-weight: normal;
  font-style: normal;
}

.ourStory{
  font-family: "Awesome",serif ;
  color: white;
  text-align: center;
  background: transparent;
}
  .heading1 {
    margin-bottom: 10px;
    font-family: "Awesome",serif;
    font-size: 50px;
    font-weight: 400;
    color: #fff;
  }
@media (max-width: 768px) {
.ourStory{
  display: none;
}

}