@font-face {
  font-family: 'Awesome';
  src: url('/src/fonts/Awesome\ Serif\ Italic\ VAR-VF.ttf');
  font-weight: normal;
  font-style: normal;
}

.ourStory{
  margin-top:60px;
  font-family: "Awesome",serif ;
  color: white;
  text-align: center;
}
@media (max-width: 768px) {
.ourStory{
  display: none;
}
}