body{
  background-color: black;
}
html {
  scroll-behavior: smooth;

}
.overlap-up {
  position: relative;
  margin-top: -250px;   /* pulls it upward */
  z-index: 5;           /* sits above Home */
}

@media (max-width: 768px) {
  .overlap-up {
  position: block;
  margin-top: 0;   /* pulls it upward */
  z-index: 5;           /* sits above Home */
}
  .page-content {
    max-width: 100%;       /* Take full width */
    margin-left: auto;
    margin-right: auto;
  
    display: flex;
    flex-direction: column;
    align-items: center;  /* Horizontally center children */
  }

  /* Optionally make each section narrower and center aligned */
  .page-content > section {
    width: 100%;
    max-width: 480px;      /* Control max width on mobile */
    margin-left: auto;
    margin-right: auto;
  }

}
