.carousel-text__section {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  margin-top: 200px;
  z-index: 0;
  opacity: 0.4;
}

.carousel-text__wrapper {
  position: relative;
  overflow: hidden;
  height: 40px;
  z-index: 0;
}

.carousel-text__fade-left,
.carousel-text__fade-right {
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.carousel-text__fade-left {
  left: 0;
  background: linear-gradient(to right, #000, transparent);
}

.carousel-text__fade-right {
  right: 0;
  background: linear-gradient(to left, #000, transparent);
}

.carousel-text__track {
  display: flex;
  white-space: nowrap;
  width: max-content; /* important for smooth loop */
}

.carousel-text__scroll-left {
  animation: carousel-scroll-left 50s linear infinite;
}

.carousel-text__scroll-right {
  animation: carousel-scroll-right 50s linear infinite;
}

.carousel-text__item {
  margin: 0 30px;
  font-size: 18px;
  font-weight: 500;
  color: #D75003;
  border: 1px solid rgba(0, 92, 255, 0.3);
  white-space: nowrap;
  border-radius: 100px;
  padding: 10px;
}

/* Dot */
.carousel-text__dot {
  color: #D75003;
  margin-right: 6px;
}

/* Keyframe Animations */
@keyframes carousel-scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes carousel-scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .carousel-text__section {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-top: 200px;
  z-index: 0;
  opacity: 0.4;
}

  .carousel-text__item {
    margin: 0 15px; /* smaller horizontal spacing */
    font-size: 16px; /* slightly smaller text */
  }
}

@media (max-width: 480px) {
  .carousel-text__section {
    gap: 1vh;
  }

  .carousel-text__item {
    margin: 0 10px; /* very compact on small screens */
    font-size: 14px;
  }
}